@font-face {
	font-family: 'Camila';
	src: url('/fonts/hinted-subset-Camila-Thin.woff2') format('woff2'),
	url('/fonts/hinted-subset-Camila-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Camila';
	src: url('/fonts/hinted-subset-Camila-Light.woff2') format('woff2'),
	url('/fonts/hinted-subset-Camila-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Camila';
	src: url('/fonts/hinted-subset-Camila-Regular.woff2') format('woff2'),
	url('/fonts/hinted-subset-Camila-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Camila';
	src: url('/fonts/hinted-subset-Camila-Medium.woff2') format('woff2'),
	url('/fonts/hinted-subset-Camila-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Camila';
	src: url('/fonts/hinted-subset-Camila-Semibold.woff2') format('woff2'),
	url('/fonts/hinted-subset-Camila-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Camila';
	src: url('/fonts/hinted-subset-Camila-Bold.woff2') format('woff2'),
	url('/fonts/hinted-subset-Camila-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Camila';
	src: url('/fonts/hinted-subset-Camila-Black.woff2') format('woff2'),
	url('/fonts/hinted-subset-Camila-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Camila';
	src: url('/fonts/hinted-subset-Camila-ThinIt.woff2') format('woff2'),
	url('/fonts/hinted-subset-Camila-ThinIt.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Camilat';
	src: url('/fonts/hinted-subset-Camila-LightIt.woff2') format('woff2'),
	url('/fonts/hinted-subset-Camila-LightIt.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Camila';
	src: url('/fonts/hinted-subset-Camila-RegularIt.woff2') format('woff2'),
	url('/fonts/hinted-subset-Camila-RegularIt.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Camila';
	src: url('/fonts/hinted-subset-Camila-MediumIt.woff2') format('woff2'),
	url('/fonts/hinted-subset-Camila-MediumIt.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Camila';
	src: url('/fonts/hinted-subset-Camila-SemiboldIt.woff2') format('woff2'),
	url('/fonts/hinted-subset-Camila-SemiboldIt.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Camila';
	src: url('/fonts/hinted-subset-Camila-BoldIt.woff2') format('woff2'),
	url('/fonts/hinted-subset-Camila-BoldIt.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Camila';
	src: url('/fonts/hinted-subset-Camila-BlackIt.woff2') format('woff2'),
	url('/fonts/hinted-subset-Camila-BlackIt.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}