@font-face {
	font-family: 'Eina03';
	src: url('/fonts/hinted-subset-Eina03-Light.woff2') format('woff2'),
	url('/fonts/hinted-subset-Eina03-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Eina03';
	src: url('/fonts/hinted-subset-Eina03-Regular.woff2') format('woff2'),
	url('/fonts/hinted-subset-Eina03-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Eina03';
	src: url('/fonts/hinted-subset-Eina03-SemiBold.woff2') format('woff2'),
	url('/fonts/hinted-subset-Eina03-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Eina03';
	src: url('/fonts/hinted-subset-Eina03-Bold.woff2') format('woff2'),
	url('/fonts/hinted-subset-Eina03-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Eina03';
	src: url('/fonts/hinted-subset-Eina03-LightItalic.woff2') format('woff2'),
	url('/fonts/hinted-subset-Eina03-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Eina03';
	src: url('/fonts/hinted-subset-Eina03-RegularItalic.woff2') format('woff2'),
	url('/fonts/hinted-subset-Eina03-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Eina03';
	src: url('/fonts/hinted-subset-Eina03-SemiboldItalic.woff2') format('woff2'),
	url('/fonts/hinted-subset-Eina03-SemiboldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Eina03';
	src: url('/fonts/hinted-subset-Eina03-BoldItalic.woff2') format('woff2'),
	url('/fonts/hinted-subset-Eina03-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

